# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*.txt

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Database log files
*.log
db/
**/db/

# Temporary directories
tmp/
temp/

# runtime data
gitClone/data/
data/
*.log
**/.gitclone/db/
**/.gitclone/db/log

