# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Database log files
*.log
log
**/log

# Directories created for testing
tmp/
testdata/

